In [1]:
import pandas as pd

In [2]:
path = "../Data/Raw/Online Retail.xlsx"
df = pd.read_excel(path)

print(df.shape)
display(df.head())
df.info()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [3]:
df.isna().sum().sort_values(ascending=False).head(10)
df["InvoiceNo"].astype(str).str.startswith("C").value_counts()
(df["Quantity"] <= 0).value_counts()
(df["UnitPrice"] <= 0).value_counts()

UnitPrice
False    539392
True       2517
Name: count, dtype: int64

In [4]:
df_clean = df.copy()

# Parse dates
df_clean["InvoiceDate"] = pd.to_datetime(df_clean["InvoiceDate"])

# Drop rows without customer id (can't do RFM without it)
df_clean = df_clean.dropna(subset=["CustomerID"])

# Remove cancellations (InvoiceNo starts with 'C')
df_clean = df_clean[~df_clean["InvoiceNo"].astype(str).str.startswith("C")]

# Remove invalid quantities/prices
df_clean = df_clean[(df_clean["Quantity"] > 0) & (df_clean["UnitPrice"] > 0)]

# Create revenue per line item
df_clean["TotalPrice"] = df_clean["Quantity"] * df_clean["UnitPrice"]

# Make CustomerID integer
df_clean["CustomerID"] = df_clean["CustomerID"].astype(int)

print(df_clean.shape)
df_clean.head()

(397884, 9)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [6]:
df_clean["InvoiceDate"].min(), df_clean["InvoiceDate"].max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

In [5]:
df_clean.to_csv("../Data/Processed/transactions_clean.csv", index=False)